@model ASP.NETCorePRMWebsite.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppointmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApartmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApartmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.APoin_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
